OWNER_ADDRESS=0x3f23eD8B4679d81fF0F6BB24afA56DD5670f8D73
PRIVATE_KEY=ae3c6f2db5b270ea64c8ca692d813faedd36a276ffd9692af63a000e67e6153f

TRUSTED_FORWARDER=0xfDe2b8b5fb8B03CB4eCc92791D67002D54B821Ad

# Tokens
WETH=
A=
B=
C=
DAI=
USDC=
USDT=
TOKEN_ADDRESS=

# Swap
FACTORY=
ROUTER=
MULTICALL_V2=

# Pairs
USDC_DAI=
USDC_USDT=
USDT_DAI=
A_B=
B_C=
A_C=

# Farm
GEOS_DISTRIBUTOR_V2=

FARM_REWARD_HOLDER=